body {
  font-family: "open sans";
  background: -webkit-linear-gradient(
      to right,
      hsla(350, 100%, 88%, 0.75),
      hsla(300, 100%, 25%, 0.651)
    ),
    url(../img/portada.jpeg); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
      to right,
      hsla(350, 100%, 88%, 0.75),
      hsla(300, 100%, 25%, 0.651)
    ),
    url(../img/portada.jpeg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-attachment: fixed;
  background-size: cover;
  font-size: 20px;
  font-family: "Noto Serif", serif;
}

.container {
  padding: 70px;
  width: 200%;
  margin-top: 15px;
  overflow: hidden;
  position: relative;
}

.container h1 {
  color: white;
  font-size: 60px;
  text-align: center;
  margin-top: -80px;
}
.container h2 {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-top: -80px;
}

.table {
  color: white;
  font-family: "Noto Serif", serif;
}

.card .card-img-top {
  height: 230px;
}

.card {
  background-color: purple;
  color: white;
}
.card .btn-dark {
  background-color: palevioletred;
  color: white;
}

.card .btn-danger {
  background-color: salmon;
  color: white;
}

.card .btn-dark:hover {
  transform: translateY(15px);
  color: white;
  background-color: violet;
}
